a{
	text-decoration: none;
}
li{
	list-style: none;
}
p{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
body{
	color: #888;
	font-size: 14px;
	font-family: arial, sans-serif;
}

body,ul,button,li{
	margin: 0;
	padding: 0;
}
.white{
	color:#fff ;
}